footer(class="Footer")
    .Row.container
        p Grunt boilerplate
        nav(class="Navigation")
            ul(class="Navigation__list")
                li(class="Navigation__item")
                    a(class="Navigation__link Navigation__link--light" href="Link" title="Link") Link
                li(class="Navigation__item")
                    a(class="Navigation__link Navigation__link--light" href="Link" title="Link") Link
                li(class="Navigation__item")
                    a(class="Navigation__link Navigation__link--light" href="Link" title="Link") Link
                li(class="Navigation__item")
                    a(class="Navigation__link Navigation__link--light" href="Link" title="Link") Link
                li(class="Navigation__item")
                    a(class="Navigation__link Navigation__link--light" href="Link" title="Link") Link