header
    .container
        a(href="#" title="homepage") Grunt Boilerplate
        nav
            ul
                li
                    a(href="#" title="link1") link1
                li
                    a(href="#" title="link2") link2
                li
                    a(href="#" title="link3") link3