doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        block variables
        title #{pageTitle}
        meta(name="description" content="#{pageDesc}")
        meta(name="viewport" content="width=device-width initial-scale=1")
        link(href="img/favicon.png" rel="shortcut icon")
        link(rel="stylesheet" type="text/css" href="style.css")
    body(id="Site")
        include _header.jade
        main
            block content

        include _footer.jade
        script(src="js/main.js")