extends includes/_template.jade

block variables
    - var pageTitle = "Grunt boilerplate"
    - var pageDesc = "Grunt boilerplate"

block content
    .container
        header
            h1 Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis placerat erat dapibus accumsan. Proin vitae accumsan mi, ac ultrices ligula. Praesent sit amet nunc dictum, eleifend neque eget, cursus quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla non dolor congue, egestas massa eget, porttitor leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin facilisis, augue eu rutrum rutrum, felis erat laoreet magna, vel bibendum eros urna sed augue.
            | Nulla mollis faucibus lacus, eget facilisis tortor aliquet vel. Sed gravida fringilla eros, ut posuere ligula convallis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse faucibus fringilla elit, nec auctor libero tempor eu. Sed maximus ligula in cursus blandit. Nam bibendum elit quis urna volutpat, vitae accumsan turpis faucibus. Integer dictum eget augue nec sodales.