extends includes/_template
block variables
- var pageTitle = "Nativious"
- var pageDesc = "Nativious"
block content
    section(class="Hero-unit")
        .container
            header
                h1 Grunt boilerplate
            a(class="Button Button--primary Hero-unit__button" title="Découvrir" href="#") Button
    section(class="Section")
        .Column.container
            header
                h2 Heading
            p(class="Section__copy--lead") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique. Sed nec suscipit ante. Aliquam commodo vitae ex vel ultrices. Sed vel mattis sem.
    section(class="Section Section--colored-primary")
        .Row.container
            article(class="Article")
                header
                    h3 Heading
                p(class="Article__copy") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                a(class="Article__button Button Button--secondary" title="Button" href="#") Button
            article(class="Article")
                header
                    h3 Heading
                p(class="Article__copy") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                a(class="Article__button Button Button--secondary" title="Button" href="#") Button
            article(class="Article")
                header
                    h3 Heading
                p(class="Article__copy") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                a(class="Article__button Button Button--secondary" title="Button" href="#") Button
    section(class="Section")
        .Column.container
            header
                h2 Heading
            p(class="Section__copy--lead") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                br
                | Technologie, savoir-faire, performance : le nôtre.
    section(class="Section Section--colored-secondary")
        .Row.container
            article(class="Article")
                header
                    h3 Heading
                p(class="Article__copy") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                a(class="Article__button Button Button--secondary" title="Button" href="#") Button
            article(class="Article")
                header
                    h3 Heading
                p(class="Article__copy") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis augue eu tempus tristique.
                a(class="Article__button Button Button--secondary" title="Button" href="#") Button
    section(class="Section")
        .Column.container
            h2 Heading
            a(class="Button Button--dark" title="Button" href="#") Button
                      